<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570067801670-k77rognjo2eo9msjracisd41pga0kleb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570067801670-k77rognjo2eo9msjracisd41pga0kleb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570067801670-vr57ag7reikjkuif8rlarl3bddnk6e3n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA45tDvCkw0Gd54WgEeNijcVbSFxc2RRts</string>
	<key>GCM_SENDER_ID</key>
	<string>570067801670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucamartinelli.diana</string>
	<key>PROJECT_ID</key>
	<string>diana-c894b</string>
	<key>STORAGE_BUCKET</key>
	<string>diana-c894b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570067801670:ios:66060fff005fa59e2c1c47</string>
</dict>
</plist>